# test files
test-files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/

# venv
venv/
.venv/

# pyenv
.python-version

# pipenv
Pipfile.lock

# dotenv
.env
